.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-section{
    margin-top: 40px;
    width: 30%;
}

.form{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.form .form-header{
    padding: 10px;
    font-size: 20px;
    font-weight: 600 ;
    border-radius: 10px 10px 0 0;
    text-align: center;
    background-color: #2980b9;
    border-bottom: 1px solid black;
}

.input-section{
    margin-top: 10px;
    height: 60px;
    padding: 10px;
}

.input-section > div{
    font-weight: 600;
}

.input-section > input{
    margin-top: 10px;
    width: 95%;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
}

.button-panel{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.button-panel > button{
    height: 30px;
    width: 100px;
    background-color: #2980b9;
    border-radius: 10px;
    border: 0.5px solid black;
}

button:hover{
    cursor: pointer;
}

button:focus{
    background-color: #2980b9;
}

.error{
    font-size: 12px;
    color: red;
    margin-top: -3px;
}